/* ===== general style===== */

body {
  font-family: "Open Sans", system-ui;
  background-color: #fff;
  color: #434455;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

img {
  display: block;
  cursor: grabbing;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  cursor: default;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 480px;
  padding: 0 31px;
  margin: 0 auto;
}

.box-position {
  position: relative;
}

.acent-color {
  color: #ff6c00;
}

/* .container {
  width: 1170px;
  padding: 0, 215px;
  margin: 0 auto;
} */

/* ===== /general style===== */

/* ===== header style===== */
.main-header {
  background-image: url(../images/header/slider-header-main.jpg);
  background-size: 480px, 580px;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-header-modile {
  fill: #fff;
}

.header-btn-menu {
  position: absolute;
  top: 48px;
  right: 31px;
  fill: #fff;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-icon-menu {
}

.wrap-header-social {
  display: none;
}

.header-social-list {
}

.hader-social-item {
}

.header-social-link {
}

.hader-social-item-logo {
}

.logo-header {
}

.logo-svg {
}

.wrap-header-nav {
  display: none;
}

.nav-header {
}

.header-nav-list {
}

.nav-list-item {
}

.header-nav-link {
}

.contact-tel {
}

.header-btn {
}

.wrapp-header-text {
}

.main-title {
}

.header-sub-title {
}

.header-descr {
}

.header-list-btn {
  display: none;
}

.header-list-btn-item {
}

.btn-back {
}

.btn-next {
}

/* ===== /header style===== */

/* ===== about section===== */
.container {
}

.about-title {
}

.about-subtitle {
}

.about-text {
}

.about-subtext {
}

.main-button {
}

/* ===== /about section===== */

/* ===== prices section===== */
.container {
}

.price-title {
}

.prices-title {
}

.price-list {
}

.price-item {
}

.prise {
}

.price-list-right {
}

.price-item-right {
}

.main-button {
}

/* ===== /prices section===== */

/* ===== benefist section===== */
.container {
}

.benefits-title {
}

.benefist-sub-title {
}

.benefist-text {
}

.benefist-box {
}

.benefist-box-namber {
}

.benefist-box-text {
}

/* ===== /benefist section===== */

/* ===== team section===== */
.container {
}

.team-title {
}

.team-sub-title {
}

.card-team {
}

.card-text {
}

.name-team {
}

.desc-team {
}

.social-icon-list {
}

.social-icon-item {
}

.social-icon {
}

.icon-instagram {
}

.icon-twitter {
}

.icon-facebook {
}

.icon-linkedin {
}

/* ===== /team section===== */

/* ===== portfolio section===== */
.container {
}

.portfolio-title {
}

/* ===== /portfolio section===== */

/* ===== booking section===== */
.container {
}

.booking-title {
}

.booking-form {
}

.booking-input {
}

.booking-textarea {
}

.main-button {
}

.contact-list {
}

.contact-link {
}

.portfolio-text {
}

.portfolio-subtext {
}

/* ===== /booking section===== */

/* ===== footer section===== */
.main-footr {
}

.container {
}

.footr-text {
}

.footer-social-list {
}

.footer-social-item {
}

.footer-social-link {
}

/* ===== /footer section===== */
